* {
    font-family: arial;
    font-size: 16px;
}

body {
    background-color: rgba(127, 255, 212, 0.777);
}

main {
    background-color: aliceblue;
    width: 560px;
    margin: auto;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.223);
}

img.lado {
    float: right;
}

h1 {
    font-size: 32px;
    color: rgb(89, 198, 162);
}

h2 {
    font-size: 24px;
    color: rgb(89, 198, 162);
}